#maxRefLine {
    stroke: black;
    stroke-dasharray: 1, 6;
    opacity: 0.8;
}
 
path {
    fill: none;
    stroke: black;
}

#maxRefText {
    opacity: 0.4;
    fill: black;
    font-size: 14px;
}

rect:hover  {
    fill: rgb(116, 112, 114); 
}

#lineDiCaprio {
    stroke: black;
    stroke-width: 2px;
}

#lineDiCaprio:hover {
    stroke-width: 6px;
}

#numbers {
    fill: black;
    font-size: 14px;
    text-anchor: middle;
    font-weight : bold;
}



